/* <!-- Code ideas and designs created by Jani Muhlestein, Logan Merchant, Laurie Graff and Jeremy Cornwall. © Copyright The Dangling Blobs --> */


* {
  box-sizing: border-box;
}
/** Code By Webdevtrick ( https://webdevtrick.com ) **/
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Exo", sans-serif;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradientBG 10s ease infinite;
  animation: gradientBG 10s ease infinite;
}
.container {
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: center;
}

.container h1,
h2 {
  color: #d7ceb2;
  text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
  font: 80px "BazarMedium";
  letter-spacing: 10px;
}
.card-front img {
  height: 200px;
  width: 200px;
  padding-top: 30px;
  justify-content: center;
}

.search-container h3 {
  color: #d7ceb2;
  text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
  font: 40px "BazarMedium";
  letter-spacing: 10px;
}

.search-form {
  width: 50%;
  margin: auto;
}

.output-h1 {
  font-size: 1vw bold;
  color: black;
}
.output-h2 {
  font-size: 1ch;
  color: black;
}
#wiki-h1 {
  padding: 10px;
  color: black;
  font-size: 3vw;
  text-shadow: none;
}
#wiki-h2 {
  text-shadow: none;
  color: maroon;
  font-size: 1.5vw;
  padding: auto;
}
#output-h1 {
    /* padding: 10px; */
  color: black;
  font-size: 1.25vw;
  text-shadow: none;
  letter-spacing: normal; 
}
#output-h2 {
    color: black;
    font-size: 1.5vh;
    text-shadow: none;
    letter-spacing: normal; 
}

.card {
  background-color: lightgray;
  width: 200px;
  height: 300px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: darkgray;
  color: salmon;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-back {
  background-color: salmon;
  color: darkgray;
  transform: rotateY(180deg);
}

.row {
   margin: 20px;
    column-gap: 20px;
}

.flag-and-image {
    display: inline-flex;
    align-content: space-between;
  margin-top: 20px;
}

.country-image {
    margin-left: 20px;
}

.recipe-card-title {

    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    text-shadow: 1px 1px black;
}

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* BEGINNING OF RECIPE */

.recipe-div {
  margin: 20px;
  display: inline-flex;
  text-align: left;
  width: 90%;
  height: 50%;
}

.recipe-title {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  font-family: "Allan", cursive;
}

.recipe-description {
  font-size: 14px;
  text-align: justify;
  margin: 20px;
  font-family: "GFS Neohellenic", sans-serif;
}

.recipe-ingredients {
  font-size: 14px;
  display: inline-block;
  font-family: "GFS Neohellenic", sans-serif;
  margin: auto;
  padding: 20px;
  width: auto;
  justify-content: space-around;
}

.recipe-instructions {
  font-size: 14px;
  font-family: "GFS Neohellenic", sans-serif;
  margin-bottom: 30px;
}

.recipe-instruction-header,
.ingredient-header {
  margin: 20px;
  font-size: 20px;
  font-family: "Allan", cursive;
  text-align: center;
}

.recipe-container {
  border: 3px solid darkgoldenrod;
  background-color: lightyellow;
  margin: 40px;
  text-align: center;
  display: flex;
  border-radius: 20px;
  display: block;
}

.instruction-div {
  width: 90%;
  display: flex;
  text-align: left;
  margin-left: 30px;
  font-size: 14px;
  font-family: "GFS Neohellenic", sans-serif;
}

.recipe-img {
  margin: 20px;
  border: 2px solid darkgray;
  box-shadow: 2px 2px darkslategray;
  border-radius: 10px;
  object-fit: cover;
  max-height: 300px;
  max-width: 300px;
}

.recipe-header h1 {
  color: #d7ceb2;
  text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
  font: 50px "BazarMedium";
  letter-spacing: 10px;
  text-align: center;
}

/* END OF RECIPE */

footer {
    text-align: center;
    top: 20px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .row {
        display: block;
    }
    .container h1, h2 {
        font-size: 40px;
    }
  
   .flag-and-image img{
        height: 150px;        
    }

    .recipe-img {
        max-height: 150px;
        max-width: 150px;
    }

    .recipe-div {
        display: block;
    }
}

@media only screen and (min-width: 600px) {
    .row {
        display: block;
    }
    .container h1, h2 {
        font-size: 40px;
    }

    .flag-and-image img{
        height: 150px;        
    }

    .recipe-img {
        max-height: 150px;
        max-width: 150px;
    }

    .recipe-div {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .flag-and-image img {
        height: 200px;
    }

    .recipe-img {
        max-height: 200px;
        max-width: 200px;
    }

    .recipe-div {
        display: block;
    }

    .container h1, h2 {
        font-size: 60px;
    }
}
