* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: white;
    padding: 40px 70px;
    background-color: navy;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header nav {
    margin: 7px 0;
  }
  
header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
    }

header nav ul li a {
      color: white;
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 1.55vw;
    }

*:before,
*:after {
    box-sizing: inherit;
}

.main-policy {
    text-align-last: center;
    color: white;
    padding: 250px;
    background-image: url(../img/poppy.JPG);
    background-repeat: no-repeat;
    background-size: 100%;
}

footer {
    background: navy;
    color: white;
    width: 100%;
    padding: 50px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: larger;
  }
.head {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    background-image: url(../img/poppy.JPG);
    background-repeat: no-repeat;
    background-size: 100%;
    color: tomato;
}