* 


header {
    color: white;
    padding: 40px 70px;
    background-color: navy;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

header nav {
  margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  header nav ul li a {
    color: white;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }