* 


header {
    color: white;
    padding: 40px 70px;
    background-color: navy;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

header nav {
  margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header nav ul li a {
    color: white;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

*:before,
*:after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
    color: black;
    text-align: left;
   
  }

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  background-image: url("../img/poppy.JPG");
  background-repeat: no-repeat;
  background-size: 110%;
  color: tomato;
  }

.box-text {
  background-color: lightgrey;
  padding: 10px;
  font-size: 100%;
  margin: 5px;
  text-align: center;
  padding: auto;
  border: 3px solid black;
}

.container img {
  width: 100%;
}

.container h2 {
  text-align: right;
  padding: 5px 0px;
  color: black;
}

.container p {
  text-align: justify;
}

.container ul li {
  text-align: left;
}

.who {
  grid-row-start: 1;
}
.contact { 
  grid-row-start: 3;
}
.my-work { 
  grid-row-start: 1;
}
.photos { 
  grid-row-start: 2;
}
footer {
  background: navy;
  color: white;
  padding: 50px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: larger;
}

p.color:hover {
  color: purple;
  font-style: italic;
}

@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) { }